__pycache__/*
plots/*
.idea/*
data/methylation*
/plots/plots_10
/plots/plots_5
/R
data/._.DS_Store
data/._methylation_5
data/.DS_Store
data/._sample_metadata.xlsx
data/mag_eval/._anvio.tsv
data/mag_eval/._checkm2.tsv
data/mag_eval/._coverm.tsv
data/mag_eval/._gtdbtk.tsv
*._*
*.DS_Store
/src/utilities/__pycache__
/src/__pycache__
src/auxiliary_analyses/.cache.sqlite
/data/models
/src/__pycache__
/src/utilities/__pycache__
src/auxiliary_analyses/.cache.sqlite
/data/gene_level_data
*.pyc
/src/Objects/__pycache__
